@page "/"
@inherits BecauseImClever.HomeAutomation.AutomationUI.Pages.IndexBase
@if (RoomList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-6">
            @*<RadzenGrid ColumnWidth="200px" AllowFiltering="true" AllowPaging="true" PageSize="3" AllowSorting="true" Data="@RoomList" Value="@room" RowSelect="(args => room = args)" TItem="AutomationModels.Room">
                <Columns>
                    <RadzenGridColumn Width="100px" TItem="AutomationModels.Room" Property="Id" Title="RoomId" />
                    <RadzenGridColumn Width="200px" TItem="AutomationModels.Room" Property="Name" Title="Name" />
                    <RadzenGridColumn Width="100px" TItem="AutomationModels.Room" Property="Status" Title="Status" />
                </Columns>
            </RadzenGrid>*@
        </div>
        <div class="col-md-6">
            @*<RadzenCard Style="margin-bottom:20px">
                @room.Name
            </RadzenCard>*@
            @*<RadzenTabs>
                <Tabs>
                    <RadzenTabsItem Text="Devices">
                        <RadzenDataList Data="@room.Devices" TItem="DeviceBase.Device" AllowPaging=" false">
                            <Template Context="device">
                                <h1>@device.Id</h1>
                                <h1>@device.Name</h1>
                            </Template>
                        </RadzenDataList>
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>*@
        </div>
    </div>
}
