@page "/rooms/{id:guid}"
@inherits BecauseImClever.AutomationUI.Pages.SpecificRoomBase
<EditForm Model="@room">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h3>@room.Name</h3>
    <label for="name">Name</label>
    <InputText id="name" @bind-Value="room.Name"/>
    <label for="status">Available</label>
    <InputCheckbox id="status" @bind-Value="room.Status" /> @room.Status
    <ul>
        @if (room.Devices != null)
        {
            @foreach (var device in room.Devices)
            {
                <li>@device.Name - @device.Id - @nameof(device)</li>
            }}
    </ul>
</EditForm>
